---
layout: base.njk
title: "Business Affairs & Licensing - 2019-06-27"
---

<article class="meeting-page">
  <header class="meeting-header">
    <h1>Business Affairs & Licensing Meeting</h1>
    <div class="meeting-meta">2019-06-27</div>
    
    <div class="meeting-links">
      
    </div>
  </header>

  
  <section class="transcript-section">
    <h2>Agenda</h2>
    <div class="transcript">1. Renewal of an On Premises Liquor License for 411 Rest Corp. doing business as Tonic East at 411 East 3rd Avenue<br>2. Renewal of an On Premises Liquor License for Bar 263 Inc doing business as Bar 263 at 203 East 26th Street<br>3. Temporary Beer and Wine Licenses for Solar One, 24-20 FDR Drive Service Road East  <br>4. New On Premises Liquor License for Cecil-Dalton LLC at 306 East 49th Street<br>5. New Wine, Beer & Cider License for  Trad Japan Co LTD at 239 1st Avenue<br>6. New Wine, Beer & Cider License for Brooklyn Pizza Masters LLC doing business as Brooklyn Pizza Masters at 1055 1st Avenue<br>7. New On Premises Liquor License for Seiwa Chu-Kou USA Corp at 217 East 43rd Street<br>8. New On Premises Liquor License for Gimme LLC doing business as Hendricks at 557 3rd Avenue<br>9. Renewal of an Unenclosed Sidewalk Cafe for Golden Abacus Inc at 957 2nd Avenue with 6 Tables and 12 Chairs<br><br>10. Chair's Report<br>11. Old/New Business</div>
  </section>
  

  
  <section class="transcript-section">
    <h2>Transcript</h2>
    <p style="color: var(--text-light);">Transcript not yet available for this meeting.</p>
  </section>
  
</article>
