---
layout: base.njk
title: "Business Affairs & Licensing - 2023-05-25"
---

<article class="meeting-page">
  <header class="meeting-header">
    <h1>Business Affairs & Licensing Meeting</h1>
    <div class="meeting-meta">2023-05-25</div>
    
    <div class="meeting-topics">
      <span class="topic-tag">Legislation</span>
    </div>
    
    <div class="meeting-links">
      <a href="https://www.youtube.com/watch?v=KZHcMjzaK-E&list=PLlrBwWdwcVriJXdlgAHk-O8Hd-XoIwy1m&index=6" target="_blank">Watch on YouTube</a>
    </div>
  </header>

  
  <section class="transcript-section">
    <h2>Agenda</h2>
    <div class="transcript">1. New, Temporary On Premises license for Sathi Group Inc. doing business as Pending at 152 East 46th Street<br>2. New, Temporary On Premises license for "501 Lexington Development, LLC" doing business as TBD at 501 Lexington Avenue<br>3. New, Temporary On Premises license for 514 Restaurant Corp. doing business as Grand Canyon Restaurant City at 514 3rd Avenue<br>4. Discussion on drafting a questionnaire for cannabis dispensary licenses<br>5. Presentation of a Resolution supporting MRTA enforcement legislation as agreed among the Governor and legislative leaders in  Albany and requesting that State and City officials update Community Boards and Council Members on the status of enforcement, including the number of shops operating illegally  in their respective Community Board and Council Districts  and the number of shops that have been closed as a result of enforcement.<br>6. Chair’s Report<br>7. Old/New Business<br></div>
  </section>
  

  
  <section class="transcript-section">
    <h2>Transcript</h2>
    <p style="color: var(--text-light);">Transcript not yet available for this meeting.</p>
  </section>
  
</article>
