---
layout: base.njk
title: "Business Affairs & Licensing - 2022-10-27"
---

<article class="meeting-page">
  <header class="meeting-header">
    <h1>Business Affairs & Licensing Meeting</h1>
    <div class="meeting-meta">2022-10-27</div>
    
    <div class="meeting-links">
      <a href="https://www.youtube.com/watch?v=F-2GEqOZ7x4&list=PLlrBwWdwcVriJXdlgAHk-O8Hd-XoIwy1m&index=3" target="_blank">Watch on YouTube</a>
    </div>
  </header>

  
  <section class="transcript-section">
    <h2>Agenda</h2>
    <div class="transcript">1. New on Premises License for 825 Third Amenity LLC doing business as Well& by Durst at 825 3rd Avenue<br>2. New on Premises License for BB 430 Third LLC at 430 3rd Avenue<br>3. New on Premises License for 954 2nd BBQ Inc. at 954 2nd Avenue<br>4. New on Premises License for Longford Lads LLC doing business as Longford Lads LLC at 231 2nd Avenue<br>5. Chair's Report<br>6. Old/New Business<br></div>
  </section>
  

  
  <section class="transcript-section">
    <h2>Transcript</h2>
    <p style="color: var(--text-light);">Transcript not yet available for this meeting.</p>
  </section>
  
</article>
