---
layout: base.njk
title: "Business Affairs & Licensing - 2019-02-28"
---

<article class="meeting-page">
  <header class="meeting-header">
    <h1>Business Affairs & Licensing Meeting</h1>
    <div class="meeting-meta">2019-02-28</div>
    
    <div class="meeting-links">
      
    </div>
  </header>

  
  <section class="transcript-section">
    <h2>Agenda</h2>
    <div class="transcript">1. New Wine, Beer, & Cider License for City DIY Workshop LLC at 232 Third Avenue<br>2. New On Premises License for 135 J & I Restaurant Group LLC at 135 East 55th Street<br>3. New  Wine, Beer, & Cider License for Kati Shop Corp doing business as Kati Shop at 162 East 55th Street<br>4. New  Wine, Beer, & Cider License for Parajuli & Brothers Inc doing business as Sathi at 216 3rd Avenue<br>5. New On Premises License for Space 54, LLC at 226 East 54th Street<br>6. New On Premises Liquor License for Buoy 3rd and 56 LLC doing business as Buoy One at 930 3rd Avenue<br>7. Chair’s Report<br>8. Old/New Business</div>
  </section>
  

  
  <section class="transcript-section">
    <h2>Transcript</h2>
    <p style="color: var(--text-light);">Transcript not yet available for this meeting.</p>
  </section>
  
</article>
