---
layout: base.njk
title: "Business Affairs & Licensing - 2025-05-13"
---

<article class="meeting-page">
  <header class="meeting-header">
    <h1>Business Affairs & Licensing Meeting</h1>
    <div class="meeting-meta">2025-05-13</div>
    
    <div class="meeting-topics">
      <span class="topic-tag">Cannabis Policy</span>
      <span class="topic-tag">Outdoor Dining</span>
    </div>
    
    <div class="meeting-links">
      <a href="https://youtu.be/WR82fFMysiU" target="_blank">Watch on YouTube</a>
    </div>
  </header>

  
  <section class="transcript-section">
    <h2>Agenda</h2>
    <div class="transcript">1. WITHDRAWN: New Cannabis Application for Retail Dispensary license for Indoor J1 Ventures Inc. doing business as Alexis Bronson at 514 3rd Avenue<br>2. WITHDRAWN: New Cannabis Application for Retail Dispensary license for 5507 103rd LLC doing business as TBD at 210 East 34th Street, 212 East 34th Street<br>3. WITHDRAWN: New Cannabis Application for Retail Dispensary license for Dany Kogan, Bellerose Migrant Center doing business as CANNABIS NYC at 223 East 14th Street<br>4. WITHDRAWN: New Cannabis Application for Retail Dispensary license for JOSEPH SMITH doing business as THE YETTI CLUB CORP. at 317 1ST AVENUE<br>5. Alteration for Wine, Beer & Cider license for Fiscardo Inc doing business as ORION DINER & GRILL at 395 2nd Avenue<br>6. Discussion of NYS Office of Cannabis Management's proposed changes to ease proximity restrictions for retail dispensaries under Public Convenience and Advantage standards  <br>7. Chair’s Report<br>8. Old/New Business</div>
  </section>
  

  
  <section class="transcript-section">
    <h2>Transcript</h2>
    <p style="color: var(--text-light);">Transcript not yet available for this meeting.</p>
  </section>
  
</article>
