---
layout: base.njk
title: "Business Affairs & Licensing - 2019-10-31"
---

<article class="meeting-page">
  <header class="meeting-header">
    <h1>Business Affairs & Licensing Meeting</h1>
    <div class="meeting-meta">2019-10-31</div>
    
    <div class="meeting-links">
      
    </div>
  </header>

  
  <section class="transcript-section">
    <h2>Agenda</h2>
    <div class="transcript">1. Method of Operation Change of an Existing Wine, Beer & Cider License for Nobi Sushi Inc at 437 3rd Avenue<br>2. New Beer & Cider License for Bento On Inc. doing business as BentOn Café 45 at 156 East 45th Street <br>3. New On Premises License for Dynasty and Flame Inc. doing business as Flame at 381 3rd Avenue <br>4. New On Premises License for DFS Café, LLC at 346 Lexington Avenue<br>5. Renewal of an Unenclosed Sidewalk Café for Silo East Inc. doing business as Socarrat at 953 2nd Avenue with 4 Tables and 8 Chairs<br>6. Presentation from the Street Activities Permit Office on their policies and procedures<br>7. Chair’s Report<br>8. Old/New Business</div>
  </section>
  

  
  <section class="transcript-section">
    <h2>Transcript</h2>
    <p style="color: var(--text-light);">Transcript not yet available for this meeting.</p>
  </section>
  
</article>
